<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shop?useSSL=false&amp;serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- JDBC connection pool settings -->


        <property name="hibernate.transaction.coordinator_class">
            org.hibernate.resource.transaction.backend.jdbc.internal.JdbcResourceLocalTransactionCoordinatorBuilderImpl
        </property>
        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.integration.envers.enabled">true</property>
        <property name="hibernate.listeners.envers.autoRegister">true</property>
        <property name="org.hibernate.envers.audit_table_suffix">_AUD</property>


        <!-- List of XML mapping files -->
        <!-- path of a mapping file, for us its our
           Student class and Address class which is a POJO -->
        <mapping class="entities.Address"></mapping>
        <mapping class="entities.Cart"></mapping>
        <mapping class="entities.Client"></mapping>
        <mapping class="entities.Employee"></mapping>
        <mapping class="entities.Login"></mapping>
        <mapping class="entities.Objects"></mapping>
        <mapping class="entities.Orders"></mapping>
        <mapping class="entities.Product"></mapping>
        <mapping class="entities.Product_History"></mapping>
        <mapping class="entities.Product_Order"></mapping>
        <mapping class="entities.Product_Cart"></mapping>
        <mapping class="entities.ProductOrderId"></mapping>
        <mapping class="entities.Roles"></mapping>
    </session-factory>

</hibernate-configuration>
